In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql mysql://root:root@mysqllab

In [23]:
%%sql
CREATE DATABASE IF NOT EXISTS test_database;
USE test_database;
CREATE TABLE IF NOT EXISTS student(
    name CHAR(50),
    age INT
);
SHOW DATABASES;

 * mysql://root:***@mysqllab
   mysql://user:***@mysqllab
1 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test_database',)]